<!-- src/main/resources/templates/index.html -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<div sec:authorize="!isAuthenticated()">
  <a th:href="@{/oauth2/authorization/auth0}">Log In</a>
</div>
<div sec:authorize="isAuthenticated()">
  <p>You are logged in!</p>
</div>
<div sec:authorize="isAuthenticated()">
  <img th:src="${profile.get('picture')}" th:attr="alt=${profile.get('name')}"/>
  <h2 th:text="${profile.get('name')}"></h2>
  <p th:text="${profile.get('email')}"></p>
  <a th:href="@{/logout}">Log Out</a>
  <div class="content mb-auto container w-full p-20 m-4 mx-auto my-2 bg-slate-100 border-2 h-96 rounded-xl">
    <h1 th:text="#{wrong}">Something went wrong!</h1>
    <div >
      <h2><a th:href="@{/}" th:text="#{back}"></a></h2>
    </div>
  </div>
</div>
</body>
</html>